body {
  font-family: Arial;
  background: #f4f4f4;
}
.board {
  display: flex;
  gap: 20px;
}
.column {
  background: white;
  padding: 10px;
  width: 30%;
  min-height: 300px;
}
.task {
  background: #ddd;
  padding: 10px;
  margin: 10px 0;
  cursor: grab;
}
.completed {
  background: lightgreen;
}
