body {
  font-family: Arial;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  margin: 20px;
}

footer {
  background: #eee;
  text-align: center;
  padding: 10px;
}
